.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffeb85;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #b93400;
}

.error {
  margin-top: 1rem;
  color: #ba3801;
  text-align: center;
}

.demoInfo {
  margin-top: 1rem;
  color: #4a69b3;
}